<h1> Edit your Photo </h1>

<h3><%= @photo.name %></h3>
<br></br>
<%=image_tag(@photo.image.url(:medium)) %>

<%= form_for(@photo) do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit(:class => 'btn btn-success') %>
<% end %>


<%= link_to "Home Page", photos_path, :class => 'btn btn-success' %>
