<h1> New Photo</h1>

<%= form_for @photo, :url => photos_path, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.file_field :image %>
  </p>
  <p><%= f.submit "Submit", :class => 'btn btn-warning' %></p>
<% end %>


<%= link_to "Home Page", photos_path, :class => 'btn btn-success' %>
