<h1><%= @photo.name %></h1>
<br></br>
<%=image_tag(@photo.image.url(:medium)) %>


<br></br>
<%= link_to "Tag People", new_photo_tag_path(@photo) %>
<br></br>
<%= button_to "Favorite this Photo",
<%= link_to "Home Page", photos_path %>
<br></br>
<% if current_user != nil && current_user.id == @photo.user_id %>
  <p><%= link_to "Delete", photo_path(@photo), method: "delete" %></p>
<% end %>
